<ul class="pagination justify-content-end">
  <ng-container *ngTemplateOutlet="pageLinkTemplate; context: { $implicit: previousPageNumber, pageLabel: 'Previous', isDisabled: isFirstPage }"></ng-container>
  <ng-container *ngIf="!isFirstPage">
    <ng-container *ngTemplateOutlet="pageLinkTemplate; context: { $implicit: previousPageNumber }"></ng-container>
  </ng-container>
  <ng-container *ngTemplateOutlet="pageLinkTemplate; context: { $implicit: pageParams.pageNumber, isActive: true }"></ng-container>
  <ng-container *ngTemplateOutlet="pageLinkTemplate; context: { $implicit: nextPageNumber }"></ng-container>
  <ng-container *ngIf="isFirstPage">
    <ng-container *ngTemplateOutlet="pageLinkTemplate; context: { $implicit: (nextPageNumber + 1) }"></ng-container>
  </ng-container>
  <ng-container *ngTemplateOutlet="pageLinkTemplate; context: { $implicit: nextPageNumber, pageLabel: 'Next', isDisabled: isLastPage }"></ng-container>
</ul>

<ng-template #pageLinkTemplate let-pageNumber let-pageLabel="pageLabel" let-isDisabled="isDisabled" let-isActive="isActive">
  <li class="page-item" [ngClass]="{ 'disabled': isDisabled, 'active': isActive }">
    <a class="page-link" href="#" (click)="goToPage(pageNumber)">{{ pageLabel || pageNumber }}</a>
  </li>
</ng-template>
