<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <h1 class="bg-primary text-center py-4 text-white">Image Gallery</h1>
      <div *ngIf="isFetching" class="col-12 py-5 d-flex justify-content-center">Fetching Images ...</div>
      <ng-container *ngIf="!isFetching && images?.length > 0">
        <ng-container *ngTemplateOutlet="paginatorTemplate"></ng-container>
        <div class="row">
          <div class="col-12 col-md-3 d-flex align-items-center justify-content-center py-2" *ngFor="let image of images">
            <img [src]="image.urls.thumb" [alt]="image.alt_description" (click)="showImage(image.id)">
          </div>
        </div>
        <ng-container *ngTemplateOutlet="paginatorTemplate"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<app-view-image [(isImageVisible)]="isShowImage" [imageParams]="selectedImage"></app-view-image>

<ng-template #paginatorTemplate>
  <nav class="text-right">
    <div class="d-inline-block">{{ pagination.totalRecords }} images</div>
    <div class="d-inline-block ml-4">
      <app-paginator [pageParams]="pagination" (onPageChange)="goToPage($event)"></app-paginator>
    </div>
  </nav>
</ng-template>
